// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$red: red;
$dark : #162B44;
$light: #F8F8F8;
$white: #FFFFFF;