// JQuery
@import '~jquery-ui/themes/base/all.css';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Font-awesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-icons/font/bootstrap-icons';

@import '../css/sidebar.css';

@import '~bootstrap-icons/font/bootstrap-icons';

// Custom Style
@import '../css/app.css';

@import "./lesson-monitoring";

.center-text {
    text-align: center;
}

button.btn-radius {
    border-radius: 10px;
}
.badge {
    padding: 10px 20px;
    border-radius: 10px;
}
.bg-light {
    background-color: $white !important;
}