@import "./variables";

div#class-implementation {
    div.refresh-container {
        vertical-align: middle;
        display: flex;
        padding: 15px;

        button {
            font-size: 16px;
        }
    }
    .class-info {
        background-color: $light;
        padding: 30px;
        border-radius: 15px;

        .subj {
            background-color: $dark;
            color: $light;
            border-radius: 5px;
            padding: 10px;
            width: fit-content;
            font-size: 12px;
        }

        .year, .sched {
            font-size: 24px;
            color: $dark;
            margin-left: 30px;
            line-height: 24px;
        }

        div {
            display: inline;
        }
    }

    .activities-container  {
        font-size: 14px;
        margin-top: 30px;
        .activity-header {
            font-weight: 700;
        }
        
        .activity-list-container {
            max-height: 250px;
            overflow: auto;
            
            .activity-container {
                background-color: $light;
                margin: 10px 0 0 0;
                padding: 10px 0;
                border-radius: 10px;

                div.col-2, div.col-4 {
                    padding: 0;
                    align-items: center;
                    display: flex;
                }

                div.col-2:first-child {
                    padding-left: 10px;
                }

                div:nth-child(2) {
                    font-weight: 700;
                }

                div:nth-child(4) {
                    div {
                        width: fit-content;
                        font-size: 10px;
                    }
                }
                div:last-child {
                    button {
                        padding: 5px 25px;
                    }
                }
            }
        }
    }
}

#loader {
    position: absolute;
    left: 50%;
    top: 60%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid $dark;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }