#calendar {
   max-width: 1100px;
   margin: 0 auto;
}

.fc-timegrid-slot {
   height: 5em !important;
   border-bottom: 0 !important;
}

.fc-timegrid-slot-label-cushion {
   width: 70px;
   text-align: center;
}

.fc-col-header-cell {
   height: 60px;
   text-transform: uppercase;
   vertical-align:middle !important;
}

.fc-prev-button, .fc-next-button{
   border-radius: 50px !important;
}

.fc--button {
   display: none !important;
}

/* .fc-header-toolbar{
   width: 350px;
} */

.fc-button-primary, .fc-toolbar-title {
   background-color: #ececec !important;
   border-color: #ececec !important;
}

.fc-toolbar-title {
   border-radius: 50px;
   width: 500px;
   text-align: center;
   padding:3px;
   margin-left:10px !important;
   margin-right: 10px !important;
}

.fc-icon{
   color:#627080;
}

.fc-col-header-cell-cushion{
   text-decoration: none !important;
   color: #212529;
}


.fc-day {
   background-color: #cccccc !important;
   content: "adadfadfadf" !important;
}

.fc-next-button{
   margin-left:-91px !important;
}

.fc-toolbar-chunk > h2{
   margin-left: -80px !important;
}

/* .fc-day-today{
   background-color: #fffadf !important;
   font-size: 80%;
}  */

.fc-col-header-cell{
   background-color: #ffffff !important;
}

.fc-event-main{
   color: #212529 !important;
}

.fc-event-main-frame{
   padding-top: 20px !important;
}

/*  legends */
.dot {
   height: 12px;
   width: 12px;
   border-radius: 50%;
   display: inline-block;
 }

 .dot-holidays{
   background-color: #cccccc;
 }

 .dot-reservable{
   background-color: #66c6cc;
 }

 .dot-reserved{
   background-color: #fb9c57;
 }

 .dot-label{
   margin-right: 30px;
   font-size:12px;
 }

 /* toolbar buttons */
 .tb-btn {
   background-color:#f8f8f8;
   border-color:#f8f8f8;
   color:#162b44;
 }

.fc-event-main-frame{
   text-align: center !important;
 }

.input-search{
   margin-right:1px;
   margin-top:4px;
   height:30px;
   width:50px;
   border:1px solid #cccccc;
   border-radius:4px;
   text-align:center;
}

.input-search:focus {
   outline: none !important;
   border:2px solid #adabaa;
 }