@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap";

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

    #logo_footer {
    padding-left: 50px;
      
    }
    .footer-nav {
      text-decoration: none;
      font-size: 12px;
      color: #162b44;
    }
    
    .footer-nav:hover {
      color: #162b44;
    }
    .header1{
      position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 93%;
    height: 80px;
    width: 100%;
    border-radius: 0px;
      background: #e48888;
    }
    
    #logo1 {position: absolute;
    right: 0%;
    bottom: 1.54%;
    height: 64px;
    width: 536px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    
    }

    .footer1 {
       height: 80px;
       background: #f8f8f8;
        align-content: center;
     
    }

/** PJ_EU-19 **/
#login {
  background-color: #e5e5e5;
}

#admin {
  background-color: #ffffff;
}

/** PJ_EU-24 **/
.round-corner {
  border-radius: 10px;
  background-color: #f8f8f8;
}

.table {
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 5px;
}

.table td:first-child {
  border-radius: 10px 0 0 10px;
}

.table td:last-child {
  border-radius: 0 10px 10px 0;
}

.custom-btn-rounded {
  border: 1px solid #007ef2;
  border-radius: 100px;
  padding: 5px 15px 5px 15px;
  background: #ffffff;
  font-size: 14px;
  color: #007ef2;
}

.btn-white-rounded {
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  background: #f8f8f8; 
  font-size: 18px; 
  font-weight: 800;
}

.arrow-pointer {
  margin-top: 10px; 
  margin-right: 10px; 
  color: #a7a7a7;
}

.heading-bold {
  font-size: 34px; 
  font-weight: 700;
}

.heading-content {
  font-size: 18px; 
  font-weight: 400; 
}

.heading-module {
  font-size: 27px; 
  font-weight: 400; 
  margin-top: 10px;
}

/** PJ_EU-27 **/
.hide-window {
  display: none;
}

.noHover{
  pointer-events: none;
}

.pointer {
  width: 200px;
  height: 42px;
  position: relative;
  background-color: #0d6efd;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  /* border-left: 20px solid #0d6efd; */
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #0d6efd;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pointer-standby {
  width: 200px;
  height: 42px;
  position: relative;
  background-color: transparent;
}
.pointer-standby:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #ffffff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.pointer-last {
  width: 200px;
  height: 42px;
  position: relative;
  background-color: transparent;
}
.pointer-last:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 21px solid #0d6efd;
  border-top: 21px solid transparent;
  border-bottom: 21px solid transparent;
}

.err-msg {
  font-size: 12px; 
  color: #ffffff;
  background-color: #e11313;
  padding: 3px 6px 3px 6px;
  border-radius: 5px;
  margin: 0px 0px 5px 5px;
}

.wrapper {
  display: flex;
  width: 100%;
}

.wrapper div.breadcrumb {
  position: absolute;
  width: 278px;
  height: 24px;
  left: 171px;
  top: 84px;  
  background:red;
  border: none;
  background: none;
}

.wrapper div.breadcrumb button.escholar{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #007EF2;
  background: none;
  border: none;
  outline: none;
}

.wrapper div.breadcrumb button.current {
  font-family: Hiragino Kaku Gothic ProN;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #162B44;
  background: none;
  border: none;
  outline: none;
}

.wrapper div.breadcrumb i.bi-chevron-right  {
  font-size: 12px;
  color: #A7A7A7;
}
.wrapper div.breadcrumb button:hover {
  border: none;
  background: none;
}

#sidebar {
  position: absolute;
  width: 232px;
  height: 760px;
  left: 171px;
  top: 144px;
  color: #fff;
  transition: all 0.3s;
  background: #FFFFFF;
}

.wrapper a.dropdown-text {
  text-decoration: none;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: Hiragino Kaku Gothic ProN;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px; 
  display: flex;
  align-items: center;
  color: #162B44;
}

/*line break */
.solid {
  border: 1px solid #CCCCCC;
}

.wrapper ul {
  width:100%;
}

.wrapper ul.sub-list a {
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  outline: none; 
  font-family: Hiragino Kaku Gothic ProN;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  align-items: center; 
  color: #007EF2;  
  margin:auto; 
}

.wrapper ul.sub-list li:hover { 
  color: #162B44;
  background: #ECECEC;
  border-radius: 50px;
}

.wrapper ul {
  width: 100%;
  table-layout: absolute; 
}

.wrapper ul li {
  width: auto;
  border: black;
}

.dropdown-text i.bi-chevron-right, 
.dropdown-text i.bi-chevron-up {
  position: absolute;
  padding-left: 215px;
  font-size: 12px;
  color: #A7A7A7;
}

a[aria-expanded=true] i.bi-chevron-right {
display: none;
}

a[aria-expanded=false] i.bi-chevron-up {
display: none;
}

/** PJ_EU-23 **/
.error-mgs {
  font-size: 20px;
  font-weight: 700;
}

.last-tab {
  background-color: #0d6efd; 
  color: #fff;
}

/** PJ_EU-38 **/ 
.btn-bold-outlined {
  font-size: 14px; 
  font-weight: 700;
}

.dtls-bold {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0px 5px 0px;
}

.dtls-subject {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0px 5px 0px;
}

.dtls-score-card {
  border-radius: 5px; 
  background-color: #162B44; 
  color: #ffffff;
  margin: 5px 0px 5px 0px;
  padding: 1px 5px 1px 5px;
}

.score-card-label {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  font-weight: 700;
  margin: 0px 0px 0px 0px;
}

.score-card-grade {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
  margin: 0px 0px 5px 0px;
}

/** PJ_EU-54 **/
.bold-label {
  font-size: 18px;
  font-weight: 700;
  color: #162B44;
}

/** PJ_EU-44 **/
.booked-summary {
  background-color: #ffffff;
  border: 1px solid #efefef;
  height: 300px;
}

.booked-summary li {
  list-style: none;
}