#logo_footer {
    padding-left: 50px;
      
    }
    .footer-nav {
      text-decoration: none;
      font-size: 12px;
      color: #162b44;
    }
    
    .footer-nav:hover {
      color: #162b44;
    }
    .header1{
      position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 93%;
    height: 80px;
    width: 100%;
    border-radius: 0px;
      background: #f8f8f8;
    }
    
    #logo1 {position: absolute;
    right: 0%;
    bottom: 1.54%;
    height: 64px;
    width: 536px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    
    }

    .footer1 {
       height: 80px;
       background: #f8f8f8;
        align-content: center;
        margin-left:20px;
        margin-right:20px;
     
    }
      
  
  