.wrapper {
    display: flex;
    width: 100%;
}

.wrapper div.breadcrumb {
    position: absolute;
    width: 278px;
    height: 24px;
    left: 171px;
    top: 84px;  
    background:red;
    border: none;
    background: none;
}

.wrapper div.breadcrumb button.escholar{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #007EF2;
    background: none;
    border: none;
    outline: none;
}

 .wrapper div.breadcrumb button.current {
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #162B44;
    background: none;
    border: none;
    outline: none;
}

.wrapper div.breadcrumb i.bi-chevron-right  {
    font-size: 12px;
    color: #A7A7A7;
}
.wrapper div.breadcrumb button:hover {
    border: none;
    background: none;
}

#sidebar {
    position: absolute;
    width: 232px;
    height: 760px;
    left: 171px;
    top: 144px;
    color: #fff;
    transition: all 0.3s;
    background: #FFFFFF;
}

.wrapper a.dropdown-text {
    text-decoration: none;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px; 
    display: flex;
    align-items: center;
    color: #162B44;
}

/*line break */
.solid {
    border: 1px solid #CCCCCC;
}

.wrapper ul {
    width:100%;
}

.wrapper ul.sub-list a {
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
    outline: none; 
    font-family: Hiragino Kaku Gothic ProN;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    align-items: center; 
    color: #007EF2;  
    margin:auto; 
}

.wrapper ul.sub-list li:hover { 
    color: #162B44;
    background: #ECECEC;
    border-radius: 50px;
}

.wrapper ul {
    width: 100%;
    table-layout: absolute; 
}

.wrapper ul li {
    width: auto;
    border: black;
}

.dropdown-text i.bi-chevron-right, 
.dropdown-text i.bi-chevron-up {
    position: absolute;
    padding-left: 215px;
    font-size: 12px;
    color: #A7A7A7;
}

a[aria-expanded=true] i.bi-chevron-right {
  display: none;
}

a[aria-expanded=false] i.bi-chevron-up {
  display: none;
}
